<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reservation Dashboard</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
        <h1 class="header">All Reservations</h1>
        <div>
            <div>
                <select id="select" class="select-location" name="select">
                    <option value="All">All Locations</option>
                    {% for location in locations %}
                    <option value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </select>
                <select id="select" class="select-month" name="select">
                    <option value="All">All Months</option>
                    {% for month in months %}
                    <option value="{{ month }}">{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <p class="total-count">Current Reservations: {{ total_count }}</p>
                <p class="cancel_count">Predicted Cancellations: {{ cancel_count }}</p>
                <p class="revenue">Predicted Revenue: {{ revenue }}</p>
            </div>
            <a class="new-reservation-button" href="{{ url_for('new_reservation') }}">Create New Reservation</a>
        </div>
        <div class="data">
            {{ data | safe }}
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>