<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reservation Dashboard</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>

	<body>
		<a href="{{ url_for('index') }}">Home</a>
        <h1>New Reservation</h1>
		<div>
			<p class="probability">Probability:</p>
        	<p class="prediction">Prediction:</p>
			<p class="price">Price:</p>
		</div>
        <div>
            <form class="form-new-reservation">
                <fieldset>
					Location:<select class="form-input" name="select">
						{% for location in locations %}
						<option value="{{ location }}">{{ location }}</option>
						{% endfor %}
					</select>

					Reservation Created:<input class="form-input" type="date" name="created" value="2018-01-01">
					Pick-up:<input class="form-input" type="date" name="pickup" value="2018-01-02">
					Drop-off:<input class="form-input" type="date" name="dropoff" value="2018-01-03">

					Past Ride Count:<input class="form-input" type="number" name="ride-count" min=0 value="0">
					Past Ride Cancellations:<input class="form-input" type="number" name="cancel-count" min=0 value="0">

					<label class="form-label">Insurance</label>
					Personal<input class="form-input" type="radio" name="insurance" value="Personal">
					Corporate<input class="form-input" type="radio" name="insurance" value="Corporate">
					Silvercar<input class="form-input" type="radio" name="insurance" value="Silvercar">
					None<input class="form-input" type="radio" name="insurance" value="None" checked>

					<label class="form-label">Entered Credit Card?</label>
					Yes<input class="form-input" type="radio" name="credit-card" value="Yes">
					No<input class="form-input" type="radio" name="credit-card" value="No" checked>

					<label class="form-label">Used Promo?</label>
					Yes<input class="form-input" type="radio" name="promo" value="Yes">
					No<input class="form-input" type="radio" name="promo" value="No" checked>

					<label class="form-label">Guest?</label>
					Yes<input class="form-input" type="radio" name="guest" value="Yes">
					No<input class="form-input" type="radio" name="guest" value="No" checked>

					<label class="form-label">Local Rental?</label>
					Yes<input class="form-input" type="radio" name="local" value="Yes">
					No<input class="form-input" type="radio" name="local" value="No" checked>

					<label class="form-label">Reservation Referral Bonus?</label>
					Yes<input class="form-input" type="radio" name="referral-bonus" value="Yes">
					No<input class="form-input" type="radio" name="referral-bonus" value="No" checked>

					<label class="form-label">Sign Up Referral?</label>
					Yes<input class="form-input" type="radio" name="referred" value="Yes">
					No<input class="form-input" type="radio" name="referred" value="No" checked>

					<label class="form-label">GDS User?</label>
					Yes<input class="form-input" type="radio" name="gds" value="Yes">
					No<input class="form-input" type="radio" name="gds" value="No" checked>

					<label class="form-label">Web Booking?</label>
					Yes<input class="form-input" type="radio" name="web" value="Yes">
					No<input class="form-input" type="radio" name="web" value="No" checked>

					<label class="form-label">New Customer?</label>
					Yes<input class="form-input" type="radio" name="new-customer" value="Yes">
					No<input class="form-input" type="radio" name="new-customer" value="No" checked>
				</fieldset>
            </form>
        </div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	</body>
</html>