<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Reservation Dashboard</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
	</head>

	<body>
        <h1>New Reservation</h1>
        <p>Probability: {{ probability }}</p>
        <p>Prediction: {{ prediction }}</p>
        <div>
            <form class="form-new-reservation" action="/new-reservation">
                <fieldset>
					<label class="form-label">Credit Card:</label>
					<input class="form-input" type="text" name="name" placeholder="Entered Credit Card?">
				</fieldset>
				<input class="submit-button" type="submit" value="Update Prediction">
            </form>
        </div>
	</body>
</html>